python-dotenv
streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
chromadb
langchain-chroma
docx2txt
pypdf
bs4
ipykernel
pypdf2
faiss-cpu
tiktoken
langchainhub
langgraph
tavily-python
black
isort
pytest
langchain-tavily==0.1.5
langchain_aws
langchain_google_genai